<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Ships</h2>
    </div>
    <div class="col-3 offset-3">
        <a asp-action="Updater" asp-controller="ShipList" class="btn btn-info form-control text-console border-console bg-navbar-console">
            New Ship
        </a>
    </div>
    <div class="col-12 border p-3 border-console">
        <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Ship Name</th>
                    <th>Weight</th>
                    <th>Hard Points</th>
                    <th>Type</th>
                    <th>Class</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/cargo.js"></script>
}